/*.button {*/
/*    -fx-display: inline-block;*/
/*    -fx-outline: none;*/
/*    -fx-cursor: pointer;*/
/*    -fx-font-size: 16px;*/
/*    -fx-line-height: 20px;*/
/*    -fx-font-weight: 600;*/
/*    -fx-border-radius: 8px;*/
/*    -fx-padding: 14px 24px;*/
/*    -fx-border: none;*/
/*    -fx-transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;*/
/*    -fx-background-color: linear-gradient(to right, rgb(127, 30, 230) 0%, rgb(28, 144, 227) 50%, rgb(4, 215, 208) 100%);*/
/*    -fx-text-fill: #fff;*/
/*}*/

/*.button:hover {*/
/*    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);*/
/*    -fx-scale-x: 1.05;*/
/*    -fx-scale-y: 1.05;*/
/*}*/

.button {
    -fx-display: inline-block;
    -fx-outline: none;
    -fx-cursor: pointer;
    -fx-font-size: 16px;
    -fx-line-height: 20px;
    -fx-font-weight: 600;
    -fx-border-radius: 8px;
    -fx-padding: 14px 24px;
    -fx-border: none;
    -fx-transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    -fx-background-color: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    -fx-text-fill: #fff;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
